/* 信息区 */

.song-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: rgba(255, 255, 255, 0.3) 1px solid;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-size: x-small;
  transition: transform 0.5s ease-in-out;
  font-family: var(--ui-font);
  max-height: 30%;
}

.song-container.visible {
  transform: translateX(-50%) translateY(0);
}

.song-container.hidden {
  transform: translateX(-50%) translateY(500%);
}

.song-container-box {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.song-cover {
  flex: 3;
  min-width: 0;
}

.song-cover img {
  max-height: 15vh;
  width: 100%;
  object-fit: scale-down;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.song-description {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.song-info-line {
  margin: 4px 0;
}

.song-info-line span {
  margin-right: 10px;
}

/* 进度条 */

.progress-bar-container {
  margin: 0;
  padding: 0;
  top: 0;
  height: 5px;
  width: 100%;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}

/* 移动端优化 */

@media (max-height: 600px) {
  .song-container {
    bottom: 2vh;
    font-size: xx-small;
  }

  .song-info-basic {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .song-info-line {
    margin: 0;
  }

  .song-container-box {
    padding: 10px;
  }

  .progress-bar-container {
    height: 3px;
  }

}