.placeholder-text {
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    font-family: var(--ui-font);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.placeholder-text[data-visible='hidden'] {
    display: none;
}