@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lyrics-shadow-container {
    font-size: 13em;
    z-index: 100;
    font-family: var(--lyrics-font);
    font-weight: bold;
    color: rgba(255, 255, 255, 0.1);
    filter: blur(1px);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    opacity: 0; 
}

.lyrics-shadow-container[data-visible='true'] {
    animation: fadeIn 0.5s ease-out forwards;
}