@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lyrics-shadow-container {
    font-size: 18em;
    z-index: 100;
    font-family: var(--lyrics-font);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.1);
    filter: blur(1px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    overflow: hidden;
}

.lyrics-shadow-container[data-visible='true'] {
    animation: fadeIn 0.5s ease-out forwards;
}

@media (max-width: 1200px) or (max-height: 800px) {
    .lyrics-shadow-container {
        font-size: 16em;
    }
}

@media (max-width: 1000px) {
    .lyrics-shadow-container {
        font-size: 10em;
    }
}

@media (max-width: 800px) {
    .lyrics-shadow-container {
        font-size: 8em;
    }
}
