.maintext-container {
  width: 100%;
  padding: 0 15vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  transition: all 1s ease-in-out;
}

.maintext-container-playing {
  transform: translateY(-65%);
}

.maintext {
  font-family: var(--maintext-font);
  font-size: 20em;
  font-weight: bold;
  background: linear-gradient(to bottom left,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1s ease-in-out;
}

/* 移动端优化 */

@media (max-height: 600px) {
  .maintext-container {
    padding: 0 10vw;
  }

  .maintext {
    font-size: 12em;
  }

  .maintext-lyrics {
    font-size: 4em;
  }
}

/* 真没招了 这是给 iPhone SE 用的 */
@media (max-height: 400px) {
  .maintext-container-playing {
    transform: translateY(-70%);
  }

  .maintext-lyrics {
    font-size: 3em;
  }
}

/* 真真真没招了 */
@media (max-width: 1300px) {
  .maintext {
    font-size: 16em;
  }
}

@media (max-width: 1100px) {
  .maintext {
    font-size: 10em;
  }
}

@media (max-width: 760px) {
  .maintext {
    font-size: 6em;
  }
}

@media (max-width: 400px) {
  .maintext {
    font-size: 3em;
  }
}


.maintext-lyrics {
  font-size: 6em;
  transition: none;
  white-space: pre-wrap;
}

/* 基础竖屏体验 */

@media (max-width: 760px) or (max-height: 600px) {
  .maintext-lyrics {
    font-size: 3em;
  }

  .maintext-container {
    padding: 0 5vw;
  }

  .maintext-container-playing {
    transform: translateY(-85%);
  }
}


.maintext-lyrics-animation-0 {
  animation: lyrics-animation-0 0.6s ease-in-out;
}

@keyframes lyrics-animation-0 {
  0% {
    opacity: 0.4;
    filter: blur(20px);
    transform: scale(0.4);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

}


.maintext-lyrics-animation-1 {
  animation: lyrics-animation-1 0.6s cubic-bezier(0.54, 0.02, 0.27, 1.08);
}

@keyframes lyrics-animation-1 {
  0% {
    opacity: 0.4;
    filter: blur(10px);
    transform: scaleX(1.7) rotate(5deg);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scaleX(1) rotate(0deg);
  }

}

.maintext-lyrics-animation-2 {
  animation: lyrics-animation-2 0.6s ease-in-out;
}

@keyframes lyrics-animation-2 {
  0% {
    opacity: 0.4;
    filter: blur(10px);
    transform: rotate(-5deg);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: rotate(0deg);
  }

}

.maintext-lyrics-animation-3 {
  animation: lyrics-animation-3 0.6s ease-in-out;
}

@keyframes lyrics-animation-3 {
  0% {
    opacity: 0.4;
    filter: blur(10px);
    transform: rotate(5deg);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: rotate(0deg);
  }

}

.maintext-lyrics-animation-4 {
  animation: lyrics-animation-4 0.6s ease-in-out;
}

@keyframes lyrics-animation-4 {
  0% {
    opacity: 0.4;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}