.maintext-container {
  width: 100%;
  padding: 0 15vw;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  transition: all 1s ease-in-out;
}

.maintext-container-playing {
  transform: translateY(-65%);
}

.maintext {
  font-family: var(--maintext-font);
  font-size: 20em;
  font-weight: bold;
  background: linear-gradient(to bottom left,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.5));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 1s ease-in-out;
}

.animation-lyrics {
  font-size: 8em;
  transition: none;
  animation: lyrics-animation 0.5s cubic-bezier(0.54, 0.02, 0.27, 1.08);
}

/* 移动端优化 */

@media (max-height: 600px) {
  .maintext-container {
    padding: 0 10vw;
  }

  .maintext {
    font-size: 12em;
  }

  .animation-lyrics {
    font-size: 4em;
  }
}

/* 真没招了 这是给 iPhone SE 用的 */
@media (max-height: 400px) {
  .maintext-container-playing {
    transform: translateY(-70%);
  }

  .animation-lyrics {
    font-size: 3em;
  }
}


@keyframes lyrics-animation {
  0% {
    opacity: 0.4;
    filter: blur(10px);
    transform: scaleX(1.7) rotate(5deg);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scaleX(1) rotate(0deg);
  }

}