.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.player-lyrics-container {
    margin: auto 0;
    position: relative;
}

.lyrics-shadow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-container {
    margin-bottom: 1%;
}