* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
}

:root {
    --maintext-font: 'SpotifyMixUITitle', sans-serif;
    --ui-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: 'SpotifyMixUITitle';
    src: url('./fonts/SpotifyMixUITitleVariable.woff2') format('woff2');
}