/* 背景区 */
.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-repeat: repeat;
  background-size: 10%;
  animation: background-animation 60s ease-in-out infinite;
  filter: blur(25px) saturate(1.5) contrast(1.2) brightness(0.5);
}

.backgraound-top-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

@keyframes background-animation {
  0% {
    transform: scale(10) rotate(0deg) translateX(0) translateY(0);
  }

  25% {
    transform: scale(8) rotate(90deg) translateX(-30%) translateY(0);
  }

  50% {
    transform: scale(6) rotate(180deg) translateX(-30%) translateY(-30%);
  }

  75% {
    transform: scale(8) rotate(270deg) translateX(0) translateY(-30%);
  }

  100% {
    transform: scale(10) rotate(360deg) translateX(0) translateY(0);
  }
}